@import url(https://fonts.googleapis.com/css?family=Nothing+You+Could+Do);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower&subset=latin);

#about {
  display: block;
  position: relative;
  width: 100%;
  height: 550px;
  padding-top: 30px;
  margin-bottom: 20px;
}

.about_section {
  display: block;
  width: 100%;
  height: fit-content;
}
.profile {
  float: left;
  width: 30%;
  height: 100%;

  padding-top: 20px;
}
.profile_crop {
  display: block;
  overflow: hidden;
  height: 250px;
  width: 250px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 50%;
}
.profile_image {
  display: block;
  width: 100%;
  min-height: 100%;
  margin-top: -20%;
}

.profile_description {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Indie Flower', sans-serif;
  letter-spacing: 6px;
}

.description {
  float: left;
  width: fit-content;
  height: 100%;
}
.description_text {
  display: block;
  height: auto;
  padding-left: 30px;
  font-family: 'Indie Flower', sans-serif;
  font-weight: 500;
  letter-spacing: 1.8px;
  word-spacing: 4px;
  line-height: 38px;
}

.description_text p {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: left;

  font-size: 27px;
}
.description_text p.text_small {
  font-size: 24px;
}
.description_language {
  display: block;
  height: 40%;
  padding-left: 8%;
  padding-right: 7%;
  margin-top: 20px;
}
.language_section {
  float: left;
  width: 30%;
  height: 100%;
  margin-left: 13px;
}
.language_section_title {
  font-size: 20px;
  font-weight: bold;
}

.language_images div {
  width: 50px;
  height: 63px;

  float: left;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 8px;
}

#language_images_html5 {
  background-position-x: 0px;
  background-position-y: 0px;
}
#language_images_css3 {
  background-position-x: -70px;
  background-position-y: 0px;
}
#language_images_javascript {
  background-position-x: -140px;
  background-position-y: 0px;
}
#language_images_react {
  background-position-x: -210px;
  background-position-y: 0px;
}
#language_images_nginx {
  background-position-x: -280px;
  background-position-y: 0px;
}

#language_images_python {
  background-position-x: 0px;
  background-position-y: -70px;
}
#language_images_kotlin {
  background-position-x: -70px;
  background-position-y: -70px;
}
#language_images_nodejs {
  background-position-x: -140px;
  background-position-y: -70px;
}
#language_images_java {
  background-position-x: -210px;
  background-position-y: -70px;
}
#language_images_mysql {
  background-position-x: -280px;
  background-position-y: -70px;
}

#language_images_c {
  background-position-x: 0px;
  background-position-y: -140px;
}
